@import "../../style/variables";
.login-main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border: 1px solid $editor-bg;
    padding: 10px;
    border-radius: 10px;
    h1 {
      color: $editor-bg;
    }

    input {
      height: 30px;
      padding-left: 15px;
      border-radius: 7px;
    }
    button {
      background-color: $editor-bg;
      color: white;
      padding: 13px 20px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
.no-accout {
  display: flex;
  width: 100%;
  justify-content: right;
  p {
    cursor: pointer;
  }
}
