// Background Colors

$sidebar-bg: #333;
$filemanager-bg: #252526;
$editor-bg: #1e1e1e;
$editor-header-nonactive: #292929;
// Different Widths

$sidebar-width: 40px;
$filemanager-width: 300px;

// Font Sizes

$vs-text-priamry: #ccc;
$vs-editor-non-active-tab: #a0a0a0;
$vs-editor-active-tab: #1e1e1e;
